<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/queries/style.css">
    <title>LOGIN PAGE</title>

    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
</head>
<body>
    <div class="container">
        <div class="logo">
            <img id=logo-img src="../img/logo.svg">
        </div>
        <div class="login-container">
            <form class="login">
                <input name="email" type="text" placeholder="email@gmail.com">
                <input name="password" type="password" placeholder="password">
                <button id="login-button">LOGIN</button>
            </form>
        </div>
    </div>
</body>